.Navbar { background-color: rgb(148, 6, 6);
    display: flexbox ;
    list-style-type:none ;

   
}



.navigation { background-color: blue; width: 100%;


}


.Navbar a { text-decoration: none ; color: #ffffff ; 

}


 title {

    padding-top: 10 ;
    padding-bottom: 15 ;
    padding-right: 5 ;
    padding-left: 20 ;

 }

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  {

    ul{
        list-style-type: none;
        margin: 0%;
        padding: 0%;
        width: 100%;
        background-color: blue;


    }

    li a { 

        display: block;
        color: white;
        padding: 8px 16px;
        text-decoration: none;

    }


    li a:hover{

        background-color: rgb(148, 6, 6);
            color: white;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
